<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>page title</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js"></script>
    <script type="text/javascript" name="baidu-tc-cerfication" data-appid="4960729" src="http://apps.bdimg.com/cloudaapi/lightapp.js"></script>
  </head>
  <body>
    <header>
      <div id="header_nav" class="nav expanded hidden-mobile">
        <div class="content-wrapper">
          <div class="nav-sign">
            <div class="nav-list-mini"><a href="/index" class="nav-item-mini">登录</a><span class="vertical-divider"></span><a href="/index" class="nav-item-mini">支持</a><span class="vertical-divider"></span><a href="/index" class="nav-item-mini">关于我们</a></div>
          </div><a href="/index" class="nav-logo pull-left"><img src="logo-title.png" alt="LOGO"></a>
          <div class="nav-list"><a href="/index" class="nav-item">首页</a><span class="nav-item"><span>新闻聚焦</span><i class="fa fa-angle-down"></i>
              <div class="sub-nav-list"><a href="/page" class="sub-nav-item">时事新闻</a>
                <div class="divider"></div><a href="/page" class="sub-nav-item">学校近况</a>
                <div class="divider"></div><a href="/page" class="sub-nav-item">最新活动</a>
              </div></span><a href="/FAQ" class="nav-item">常见问题</a><a href="/aboutme" class="nav-item">联系我们</a><a href="/category" class="nav-item">分类</a></div>
        </div>
      </div>
      <div id="header_nav_mobile" class="hidden-pc">
        <div class="service-links"><a href="/FAQ">常见问题</a><a href="/aboutme">联系我们</a></div>
        <div id="menu_icon"><i class="fa fa-bars"></i></div>
        <div class="menu-details">
          <div class="navs grid">
            <div class="grid-1-3 mobile-nav-item"><a href="##">首页</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="#news_sub" class="has-sub-nav">新闻聚焦</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">常见问题</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="#about_us" class="has-sub-nav">联系我们</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">招生专栏</a></div>
          </div>
          <div id="news_sub" class="sub-navs navs grid">
            <div class="grid-1-3 mobile-nav-item"><a href="##">新生安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">课程安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">学习平台</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">考试平台</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">证书展示</a></div>
          </div>
          <div id="about_us" class="sub-navs navs grid">
            <div class="grid-1-3 mobile-nav-item"><a href="##">新生安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">课程安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">学习平台</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">考试平台</a></div>
          </div>
          <div class="contacts">
            <div class="location">
              <div>四川省成都市青羊区东城根上街55号（科技大厦7楼）</div>
              <div><span>400-822-4322</span><span>（028）8611-7088</span></div>
            </div>
            <div class="extra-links">
              <div class="extra-link-item"><i class="fa fa-weixin"></i><span>cdrtvu-kf</span></div>
              <div class="extra-link-item"><i class="fa fa-qq"></i><span>9513554589</span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="page-title-panel content-wrapper">
      <div class="mobile-page-title">常见问题</div>
    </div>
    <div class="faq-categories content-wrapper">
      <div class="grid">
        <div class="grid-1-2 grid-s-1-1"><a href="##" class="faq-category-item"><img src="http://img0.bdstatic.com/img/image/shouye/bizhi0608.jpg" alt="cover">
            <div class="centered-position">
              <div class="category-info">
                <h3>入学咨询</h3>
                <p class="hidden-mobile">学校介绍、申请、考核、毕业证...</p>
              </div>
            </div></a></div>
        <div class="grid-1-2 grid-s-1-1"><a href="##" class="faq-category-item"><img src="http://img0.bdstatic.com/img/image/shouye/jianbihua0608.jpg" alt="cover">
            <div class="centered-position">
              <div class="category-info">
                <h3>学习相关</h3>
                <p class="hidden-mobile">学校介绍、申请、考核、毕业证...</p>
              </div>
            </div></a></div>
      </div>
    </div>
    <div id="questions_container" class="content-wrapper">
      <div class="faq-section">
        <h4>1、广播电视大学是一所什么学校？</h4>
        <p>如果你注意一下技术玩家们都在读些什么，可能就会发现一些人在谈论一本叫做The Accidental Superpower的书。我是从Mark Suster（著名风险投资机构GRP Partners的合伙人）那里听说了这本书的，之后不久我就拜读了它，也就在那个时候看到了Auren Hoffman关于这本书的文章。</p>
        <div togglewith="收起答案" class="faq-expand-toggler">展开答案</div>
      </div>
      <div class="faq-section">
        <h4>2、收费标准</h4>
        <p>风险投资作为一个行业不会完全消失，预计蓝筹股玩家会一直坚挺。不过他们投入的基金规模可能更小，下手也会更谨慎。随着参与投资的二线公司数量减少，所有公司加起来的投资总额也将减少，即便一线公司还在用大笔资金维持着周转。</p>
        <div togglewith="收起答案" class="faq-expand-toggler">展开答案</div>
      </div>
      <div class="faq-section">
        <h4>3、报名手续</h4>
        <p>虽然一直都用破解版的OFFICE,但还是真心觉得原版的软件好！至少兼容性，通用性比较高，其他的软件虽然可能更廉价，但是总有一种“用OFFICE做脚本改良的感觉，看不到原创呢！</p>
        <div togglewith="收起答案" class="faq-expand-toggler">展开答案</div>
      </div>
      <div class="faq-section">
        <h4>4、报名条件</h4>
        <p>这一年多时间，整个科技媒体和资本似乎都被O2O、互联网+所占据。不断有估值过10亿美元的公司产生，基本都是互联网交易型公司。</p>
        <div togglewith="收起答案" class="faq-expand-toggler">展开答案</div>
      </div>
    </div>
    <div class="panel-item footer-panel">
      <div class="panel-wrapper content-wrapper">
        <div class="panel-content grid">
          <div class="contacts-container grid-1-2 grid-s-1-1">
            <p><span>四川省成都市东城根上街55号（科技大厦7楼）</span><a href="http://j.map.baidu.com/SPv83" target="_blank" style="font-weight: bold;">导航</a></p>
            <p>联系电话：400-8611-7088</p>
            <div class="extra-links">
              <div class="extra-link-item extra-qq"><i class="fa fa-qq"></i>
                <div class="qr-container"><img src="http://img5.imgtn.bdimg.com/it/u=1571601066,1245277889&amp;fm=21&amp;gp=0.jpg" alt="qr-code">
                  <div class="caret-down"></div>
                </div>
              </div>
              <div class="extra-link-item extra-weixin"><i class="fa fa-weixin"></i>
                <div class="qr-container"><img src="http://img5.imgtn.bdimg.com/it/u=1571601066,1245277889&amp;fm=21&amp;gp=0.jpg" alt="qr-code">
                  <div class="caret-down"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="friend-links grid-1-2 grid-s-1-1">
            <div class="grid"><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a></div>
          </div>
        </div>
        <div class="copyright-container divider">
          <div class="copyright-text"><span>Copyright &copy; 2009-2015</span><span>WEIBO</span><span>成都广播电视大学直属城中学院</span><span>京ICP备12002058号</span></div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="FAQ.js"></script>
    <script type="text/javascript" src="map.js"></script>
  </body>
</html>