<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>page title</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js"></script>
  </head>
  <body>
    <header class="index-header">
      <div id="header_nav" class="nav expanded hidden-mobile">
        <div class="content-wrapper">
          <div class="nav-sign">
            <div class="nav-list-mini"><a href="/index" class="nav-item-mini">登录</a><span class="vertical-divider"></span><a href="/index" class="nav-item-mini">支持</a><span class="vertical-divider"></span><a href="/index" class="nav-item-mini">关于我们</a></div>
          </div><a href="/index" class="nav-logo pull-left"><img src="logo-title.png" alt="LOGO"></a>
          <div class="nav-list"><a href="/index" class="nav-item">首页</a><span class="nav-item"><span>新闻聚焦</span><i class="fa fa-angle-down"></i>
              <div class="sub-nav-list"><a href="/page" class="sub-nav-item">时事新闻</a>
                <div class="divider"></div><a href="/page" class="sub-nav-item">学校近况</a>
                <div class="divider"></div><a href="/page" class="sub-nav-item">最新活动</a>
              </div></span><a href="/FAQ" class="nav-item">常见问题</a><a href="/aboutme" class="nav-item">联系我们</a><a href="/category" class="nav-item">分类</a></div>
        </div>
      </div>
      <div id="header_nav_mobile" class="hidden-pc">
        <div class="service-links"><a href="/FAQ">常见问题</a><a href="/aboutme">联系我们</a></div>
        <div id="menu_icon"><i class="fa fa-bars"></i></div>
        <div class="menu-details">
          <div class="navs grid">
            <div class="grid-1-3 mobile-nav-item"><a href="##">首页</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="#news_sub" class="has-sub-nav">新闻聚焦</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">常见问题</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="#about_us" class="has-sub-nav">联系我们</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">招生专栏</a></div>
          </div>
          <div id="news_sub" class="sub-navs navs grid">
            <div class="grid-1-3 mobile-nav-item"><a href="##">新生安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">课程安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">学习平台</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">考试平台</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">证书展示</a></div>
          </div>
          <div id="about_us" class="sub-navs navs grid">
            <div class="grid-1-3 mobile-nav-item"><a href="##">新生安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">课程安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">学习平台</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">考试平台</a></div>
          </div>
          <div class="contacts">
            <div class="location">
              <div>四川省成都市青羊区东城根上街55号（科技大厦7楼）</div>
              <div><span>400-822-4322</span><span>（028）8611-7088</span></div>
            </div>
            <div class="extra-links">
              <div class="extra-link-item"><i class="fa fa-weixin"></i><span>cdrtvu-kf</span></div>
              <div class="extra-link-item"><i class="fa fa-qq"></i><span>9513554589</span></div>
              <div class="extra-link-item"><i class="fa fa-weibo"></i><span>成都电大直属城中学院</span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="landing-description">
      <div class="description-wrapper">
        <div class="hidden-mobile">
          <h1>成都广播电视大学直属城中学院</h1>
          <div class="divider"></div>
          <p>成都广播电视大学是中央广播电视大学的省级电大，成都市人民政府主办。直属城中学院是成都电大在成都市中心区域设立的直属办学单位，具体承担学历教育和技能培训的综合办学实体单位。学院位于东城根上街55号，地理位置优越，交通便利。</p>
          <div class="btn-wrapper"><a href="##" class="btn btn-primary rounded">在线报名</a></div>
        </div>
        <div class="hidden-pc mobile-description">
          <div class="logo-icon"><img src="logo.png" alt="LOGO"></div>
          <h3>成都广播电视大学直属城中学院</h3>
          <h4>生命不息，奋斗不止</h4>
          <div class="btn-wrapper"><a href="##" class="btn btn-primary rounded">在线报名</a></div>
        </div>
      </div>
    </div>
    <div class="panel-item">
      <div class="panel-wrapper content-wrapper">
        <h3>学校简介</h3>
        <div class="panel-content">
          <p><em>城中学院坚持开放教育，开放教学。</em><span>学院实行经资格审核入学制度，凡符合入学资格条件的求学者，经资格审核后均可注册学校。开放灵活的学习模式，实行完全学分制，学籍八年有效。实行滚动开课和滚动考试，学生可根据所选专业的情况自主选择课程、学习时间、学习进度等，修满规定的学分即可毕业。个性化的教学模式，逐步“学导结合”、“面授课程＋网上学习”、“系＋平台＋资源统”的教学模式。建立了远程教学平台，实行课程教学资源开放，学员可根据个人需要进行选学。</span></p>
          <p><em>城中学院坚持“办学融入社会、专业融入行业、教学融入企业、服务融入学生”的办学理念。</em><span>尽一切可能为学员提供更多更好的支持服务：教学辅导、网上答疑、QQ咨询、微信公众号、媒体教学资源、历年试卷下载和考试分析、网上进行视频点播、CAI课件、教师教学课件等资料。</span></p>
          <p><em>城中学院坚持能力与学历并重，快乐学习的工作指导思想。</em><span>在各个专业有选择地将核心课程进行扩展，为学员提供深入学习和实践地机会，让每一个专业的学员都能享有能力提高和业务增强的机会。</span></p>
        </div>
      </div>
    </div>
    <div class="panel-item photos-preview">
      <div class="panel-wrapper content-wrapper">
        <h3>校园掠影</h3>
        <div id="imgs_wall_container" class="panel-content position-element">
          <div class="imgs-wall">
            <div id="imgs_wall" class="grid">
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/sheying0525.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/bizhi0525.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/mingxing0525.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/chongwu0525.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/dongman0515.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/touxiang0525.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/jianbihua0525.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/qiche0318.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/xingkong0525.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/duorou0525.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/sheying0527.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/bizhi0527.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/dongman0316.jpg" alt="imgs"></div>
              <div class="image-item"><img src="http://img0.bdstatic.com/img/image/shouye/jianbihua0527.jpg" alt="imgs"></div>
            </div>
          </div>
          <div class="prev hidden-mobile"><i class="fa fa-angle-left"></i></div>
          <div class="next hidden-mobile"><i class="fa fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="panel-item introduction-panel">
      <div class="panel-wrapper">
        <div class="panel-content content-wrapper">
          <div class="grid">
            <div class="grid-1-2 grid-s-1-1 introduction-item">
              <h4>专本科学历教育</h4>
              <div class="divider"></div>
              <p>城中学院坚持开放教育，开放教学。学院实行经资格审核入学制度，凡符合入学资格条件的求学者，经资格审核后均可注册学校。开放灵活的学习模式，实行完全学分制，学籍八年有效。开放灵活的学习模式，实行完全学分制，学籍八年有效。</p>
            </div>
            <div class="grid-1-2 grid-s-1-1 introduction-item">
              <h4>优秀的教师团队</h4>
              <div class="divider"></div>
              <p>城中学院坚持开放教育，开放教学。学院实行经资格审核入学制度，凡符合入学资格条件的求学者，经资格审核后均可注册学校。开放灵活的学习模式，实行完全学分制，学籍八年有效。开放灵活的学习模式，实行完全学分制，学籍八年有效。</p>
            </div>
          </div>
          <div class="btn-wrapper hidden-mobile"><a href="##" class="btn btn-primary rounded">在线报名</a></div>
        </div>
      </div>
    </div>
    <div class="panel-item categories-panel">
      <div class="panel-wrapper">
        <h3>新闻聚焦</h3>
        <div class="panel-content content-wrapper">
          <div id="categories_container" class="grid"><a href="##" class="grid-1-3 category-item">
              <h4>本科专业介绍</h4>
              <div style="background-image: url(http://img0.bdstatic.com/img/image/shouye/chongwu0527.jpg)" class="category-cover"></div>
              <p>个性化的教学模式，逐步“学导结合”、“面授课程＋网上学习”、“系＋平台＋资源统”的教学模式。</p>
              <div class="category-footer"><em>查看更多</em><span class="pull-right">昨天</span></div></a><a href="##" class="grid-1-3 category-item">
              <h4>城中学院护理专业学院享受“送教上门”服务</h4>
              <div style="background-image: url(http://img0.bdstatic.com/img/image/shouye/motianlun0527.jpg)" class="category-cover"></div>
              <p>在各个专业有选择地将核心课程进行扩展，为学员提供深入学习和实践地机会，让每一个专业的学员都能享有能力提高和业务增强的机会。</p>
              <div class="category-footer"><em>查看更多</em><span class="pull-right">11:09</span></div></a><a href="##" class="grid-1-3 category-item">
              <h4>城中学院组织学生到校进行第一期网上教学活动</h4>
              <p>尽一切可能为学员提供更多更好的支持服务：教学辅导、网上答疑、QQ咨询、微信公众号、媒体教学资源、历年试卷下载和考试分析、网上进行视频点播、CAI课件、教师教学课件等资料。</p>
              <div class="category-footer"><em>查看更多</em><span class="pull-right">2014-5-26</span></div></a></div>
          <div id="category_switch_control" class="switch-control hidden-pc"><i class="prev fa fa-angle-left"></i><i class="next fa fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div id="map" class="panel-item map-panel"></div>
    <div class="panel-item footer-panel">
      <div class="panel-wrapper content-wrapper">
        <div class="panel-content grid">
          <div class="contacts-container grid-1-2 grid-s-1-1">
            <p>四川省成都市东城根上街55号（科技大厦7楼）</p>
            <p>联系电话：400-8611-7088</p>
            <div class="extra-links">
              <div class="extra-link-item extra-qq"><i class="fa fa-qq"></i>
                <div class="qr-container"><img src="http://img5.imgtn.bdimg.com/it/u=1571601066,1245277889&amp;fm=21&amp;gp=0.jpg" alt="qr-code">
                  <div class="caret-down"></div>
                </div>
              </div>
              <div class="extra-link-item extra-weixin"><i class="fa fa-weixin"></i>
                <div class="qr-container"><img src="http://img5.imgtn.bdimg.com/it/u=1571601066,1245277889&amp;fm=21&amp;gp=0.jpg" alt="qr-code">
                  <div class="caret-down"></div>
                </div>
              </div>
              <div class="extra-link-item extra-weibo"><i class="fa fa-weibo"></i>
                <div class="qr-container"><img src="http://img5.imgtn.bdimg.com/it/u=1571601066,1245277889&amp;fm=21&amp;gp=0.jpg" alt="qr-code">
                  <div class="caret-down"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="friend-links grid-1-2 grid-s-1-1">
            <div class="grid"><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a></div>
          </div>
        </div>
        <div class="copyright-container divider">
          <div class="copyright-text"><span>Copyright &copy; 2009-2015</span><span>WEIBO</span><span>成都广播电视大学直属城中学院</span><span>京ICP备12002058号</span></div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="FAQ.js"></script>
    <script type="text/javascript" src="map.js"></script>
  </body>
</html>