<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>page title</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js"></script>
    <script type="text/javascript" name="baidu-tc-cerfication" data-appid="4960729" src="http://apps.bdimg.com/cloudaapi/lightapp.js"></script>
  </head>
  <body>
    <header>
      <div id="header_nav" class="nav expanded hidden-mobile">
        <div class="content-wrapper">
          <div class="nav-sign">
            <div class="nav-list-mini"><a href="/index" class="nav-item-mini">登录</a><span class="vertical-divider"></span><a href="/index" class="nav-item-mini">支持</a><span class="vertical-divider"></span><a href="/index" class="nav-item-mini">关于我们</a></div>
          </div><a href="/index" class="nav-logo pull-left"><img src="logo-title.png" alt="LOGO"></a>
          <div class="nav-list"><a href="/index" class="nav-item">首页</a><span class="nav-item"><span>新闻聚焦</span><i class="fa fa-angle-down"></i>
              <div class="sub-nav-list"><a href="/page" class="sub-nav-item">时事新闻</a>
                <div class="divider"></div><a href="/page" class="sub-nav-item">学校近况</a>
                <div class="divider"></div><a href="/page" class="sub-nav-item">最新活动</a>
              </div></span><a href="/FAQ" class="nav-item">常见问题</a><a href="/aboutme" class="nav-item">联系我们</a><a href="/category" class="nav-item">分类</a></div>
        </div>
      </div>
      <div id="header_nav_mobile" class="hidden-pc">
        <div class="service-links"><a href="/FAQ">常见问题</a><a href="/aboutme">联系我们</a></div>
        <div id="menu_icon"><i class="fa fa-bars"></i></div>
        <div class="menu-details">
          <div class="navs grid">
            <div class="grid-1-3 mobile-nav-item"><a href="##">首页</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="#news_sub" class="has-sub-nav">新闻聚焦</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">常见问题</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="#about_us" class="has-sub-nav">联系我们</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">招生专栏</a></div>
          </div>
          <div id="news_sub" class="sub-navs navs grid">
            <div class="grid-1-3 mobile-nav-item"><a href="##">新生安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">课程安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">学习平台</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">考试平台</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">证书展示</a></div>
          </div>
          <div id="about_us" class="sub-navs navs grid">
            <div class="grid-1-3 mobile-nav-item"><a href="##">新生安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">课程安排</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">学习平台</a></div>
            <div class="grid-1-3 mobile-nav-item"><a href="##">考试平台</a></div>
          </div>
          <div class="contacts">
            <div class="location">
              <div>四川省成都市青羊区东城根上街55号（科技大厦7楼）</div>
              <div><span>400-822-4322</span><span>（028）8611-7088</span></div>
            </div>
            <div class="extra-links">
              <div class="extra-link-item"><i class="fa fa-weixin"></i><span>cdrtvu-kf</span></div>
              <div class="extra-link-item"><i class="fa fa-qq"></i><span>9513554589</span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="hidden-mobile page-title-panel"></div>
    <div class="page-header-cover hidden-pc"><img src="http://img0.bdstatic.com/img/image/%E5%B7%B4%E8%A5%BF.jpg" alt="page-cover"></div>
    <div class="page-container content-wrapper">
      <div class="grid">
        <div class="page-main-content">
          <h2>加快建立关键信息基础设施产品与服务安全审查制度</h2>
          <div class="page-created_at">2014-08-07</div>
          <div class="page-body">
            <p>建立关键信息基础设施产品与服务安全审查制度，对关键信息基础设施产品与服务进行分类审查、检测和管理，特别加强对产品安全性和可控性的审查。在关键信息基础设施采购过程中，推进供应链安全审查。</p><img src="http://img0.bdstatic.com/img/image/%E5%B7%B4%E8%A5%BF.jpg" alt="image">
            <p>我国一直高度重视关键信息基础设施网络安全保障工作，国家对关键信息基础设施做出了一系列重要决策和部署，关键信息基础设施网络安全意识得到了大幅度的提升。但是做好关键信息基础设施的网络安全保障工作是一个长期的过程，建议首先从关键信息基础设施网络安全风险“可发现”入手，准确掌握我国关键信息基础设施网络安全态势信息，同时推进实现政府部门、科研机构、运营单位、厂商和安全企业等各方之间的网络安全信息共享，加强关键信息基础设施安全防护技术研究和应用，最后依托网络安全审查制度有效保障“互联网+”时代背景下关键信息基础设施的网络安全。</p>
          </div>
          <div class="page-attachments"><span>附件:</span>
            <div class="attachments-list"><a href="##" download="附件名字">xxxx年期末成绩.xls</a><a href="##" download="附件名字">xxxx年期末成绩.xls</a><a href="##" download="附件名字">xxxx年期末成绩.xls</a></div>
          </div>
        </div>
        <div class="related-pages hidden-mobile">
          <h4>相关文章</h4><a href="##" class="clearfix"><img src="http://img0.bdstatic.com/img/image/riben180180.jpg" alt="image" class="pull-left">
            <div class="relate-page-title">推进关键信息基础设施的在线安全监测</div></a><a href="##" class="clearfix"><img src="http://img0.bdstatic.com/img/image/beihaidao180180.jpg" alt="image" class="pull-left">
            <div class="relate-page-title">建立关键信息基础设施网络安全风险信息共享机制</div></a><a href="##" class="clearfix"><img src="http://img0.bdstatic.com/img/image/shouer180180.jpg" alt="image" class="pull-left">
            <div class="relate-page-title">加强关键信息基础设施安全防护技术研究</div></a><a href="##" class="clearfix"><img src="http://img0.bdstatic.com/img/image/%E6%97%A5%E6%9C%AC%E5%A4%A7%E5%AD%A6.jpg" alt="image" class="pull-left">
            <div class="relate-page-title">加快建立关键信息基础设施产品与服务安全审查制度</div></a>
        </div>
      </div>
    </div>
    <div class="panel-item footer-panel">
      <div class="panel-wrapper content-wrapper">
        <div class="panel-content grid">
          <div class="contacts-container grid-1-2 grid-s-1-1">
            <p><span>四川省成都市东城根上街55号（科技大厦7楼）</span><a href="http://j.map.baidu.com/SPv83" target="_blank" style="font-weight: bold;">导航</a></p>
            <p>联系电话：400-8611-7088</p>
            <div class="extra-links">
              <div class="extra-link-item extra-qq"><i class="fa fa-qq"></i>
                <div class="qr-container"><img src="http://img5.imgtn.bdimg.com/it/u=1571601066,1245277889&amp;fm=21&amp;gp=0.jpg" alt="qr-code">
                  <div class="caret-down"></div>
                </div>
              </div>
              <div class="extra-link-item extra-weixin"><i class="fa fa-weixin"></i>
                <div class="qr-container"><img src="http://img5.imgtn.bdimg.com/it/u=1571601066,1245277889&amp;fm=21&amp;gp=0.jpg" alt="qr-code">
                  <div class="caret-down"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="friend-links grid-1-2 grid-s-1-1">
            <div class="grid"><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a><a href="##" class="friend-link-item grid-1-2"><img src="http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&amp;fm=21&amp;gp=0.jpg" alt="uv-logo"></a></div>
          </div>
        </div>
        <div class="copyright-container divider">
          <div class="copyright-text"><span>Copyright &copy; 2009-2015</span><span>WEIBO</span><span>成都广播电视大学直属城中学院</span><span>京ICP备12002058号</span></div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="FAQ.js"></script>
    <script type="text/javascript" src="map.js"></script>
  </body>
</html>