@charset "UTF-8";
.grid {
  font-size: 0;
  display: block; }
  .grid > * {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top; }

.grid-1-1 {
  width: 100%; }

.grid-1-2 {
  width: 50%; }

.grid-1-3 {
  width: 33.33333%; }

.grid-1-4 {
  width: 25%; }

.grid-1-5 {
  width: 20%; }

.grid-1-6 {
  width: 16.66667%; }

@media only screen and (max-width: 800px) {
  .grid-s-1-1 {
    width: 100%; } }

@media only screen and (max-width: 800px) {
  .grid-s-1-2 {
    width: 50%; } }

@media only screen and (max-width: 800px) {
  .grid-s-1-3 {
    width: 33.33333%; } }

@media only screen and (max-width: 800px) {
  .grid-s-1-4 {
    width: 25%; } }

@media only screen and (max-width: 800px) {
  .grid-s-1-5 {
    width: 20%; } }

@media only screen and (max-width: 800px) {
  .grid-s-1-6 {
    width: 16.66667%; } }

.divider {
  border-top: 1px solid #ccc; }

.clearfix::after {
  clear: both;
  content: '';
  display: block;
  width: 100%; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

@media only screen and (max-width: 800px) {
  .hidden-mobile {
    display: none !important; } }

@media only screen and (min-width: 801px) {
  .hidden-pc {
    display: none !important; } }

.btn-primary {
  text-decoration: none;
  color: white;
  padding: 0.7em 2em;
  border-radius: 1.2em;
  background-color: #5cac4b;
  display: inline-block; }
  .btn-primary:hover {
    background-color: #539a43;
    color: white; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

html {
  font-size: 16px;
  font-family: arial, 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti; }

p {
  letter-spacing: 1px;
  line-height: 2;
  font-size: .8rem;
  margin: 1.5em 0; }

a {
  color: #6ab75a;
  text-decoration: none; }
  a:hover {
    color: #5cac4b; }

img {
  display: inherit; }

header {
  height: 100%;
  position: relative;
  background-image: url(banner.png);
  background-size: cover;
  background-position: center center; }

.header {
  position: relative; }

.panel-item {
  text-align: center; }
  .panel-item .panel-wrapper {
    max-width: 1200px;
    padding: 1em 0;
    margin: 0 auto; }
    .panel-item .panel-wrapper h3 {
      color: #5cac4b; }
  .panel-item .panel-content {
    text-align: left;
    padding: 0 2em; }
    .panel-item .panel-content em {
      color: #5cac4b;
      font-style: normal; }

.map-panel img {
  width: 100%; }

.faq-header, .category-header {
  padding-bottom: 6rem;
  background-color: rgba(92, 172, 75, 0.9); }
  .faq-header #header_nav_mobile .header-title, .category-header #header_nav_mobile .header-title {
    position: absolute;
    z-index: -1;
    top: .5rem;
    line-height: 2.6rem;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    color: white; }
  .faq-header #header_nav_mobile.expanded .header-title, .category-header #header_nav_mobile.expanded .header-title {
    color: #333333; }

@media only screen and (max-width: 800px) {
  .faq-header, .category-header {
    padding-bottom: 3.6rem; } }

header .nav, .header .nav {
  background-color: rgba(92, 172, 75, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  height: 4.5rem;
  padding: 1rem;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  header .nav.expanded, .header .nav.expanded {
    height: 6rem; }
    header .nav.expanded .nav-sign, .header .nav.expanded .nav-sign {
      max-height: 2rem; }
  header .nav .nav-sign, .header .nav .nav-sign {
    max-height: 0;
    overflow: hidden;
    text-align: right;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    header .nav .nav-sign .nav-item-mini, .header .nav .nav-sign .nav-item-mini {
      color: #c6f8b7;
      font-size: .75rem;
      vertical-align: middle;
      padding: 0 1rem;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      text-decoration: none; }
      header .nav .nav-sign .nav-item-mini:hover, .header .nav .nav-sign .nav-item-mini:hover {
        color: white; }
    header .nav .nav-sign .vertical-divider, .header .nav .nav-sign .vertical-divider {
      border-left: 1px solid #666;
      font-size: .75rem;
      vertical-align: middle; }
    header .nav .nav-sign .nav-list-mini, .header .nav .nav-sign .nav-list-mini {
      padding-bottom: .5em;
      padding-right: .5rem; }
  header .nav .nav-logo, .header .nav .nav-logo {
    float: left; }
  header .nav .nav-list, .header .nav .nav-list {
    text-align: right;
    vertical-align: middle;
    padding-top: .7rem; }
  header .nav .nav-item, .header .nav .nav-item {
    padding: 0.7rem 1.5rem;
    color: #c6f8b7;
    display: inline;
    position: relative;
    cursor: pointer;
    font-size: .9rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    header .nav .nav-item:hover, header .nav .nav-item.active, .header .nav .nav-item:hover, .header .nav .nav-item.active {
      color: white; }
    header .nav .nav-item:hover .sub-nav-list, .header .nav .nav-item:hover .sub-nav-list {
      max-height: 10rem; }
  header .nav .sub-nav-list, .header .nav .sub-nav-list {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0 1rem;
    background-color: #5cac4b;
    box-shadow: 0 0 4px 0 #333; }
    header .nav .sub-nav-list .sub-nav-item, .header .nav .sub-nav-list .sub-nav-item {
      color: #c6f8b7;
      text-decoration: none;
      display: block;
      text-align: center;
      padding: .8rem 0;
      font-size: .9rem; }
      header .nav .sub-nav-list .sub-nav-item:hover, .header .nav .sub-nav-list .sub-nav-item:hover {
        color: white; }
    header .nav .sub-nav-list .divider, .header .nav .sub-nav-list .divider {
      border-top: 1px solid #c6f8b7; }

header .landing-description, .header .landing-description {
  color: white;
  height: 100%;
  font-size: 0;
  text-align: center; }
  header .landing-description > *, .header .landing-description > * {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    text-align: left; }
  header .landing-description::before, .header .landing-description::before {
    height: 100%;
    content: '';
    display: inline-block;
    vertical-align: middle; }
  header .landing-description .description-wrapper, .header .landing-description .description-wrapper {
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 5rem;
    padding: 0 2rem;
    font-size: 0;
    text-align: center; }
    header .landing-description .description-wrapper > *, .header .landing-description .description-wrapper > * {
      font-size: 1rem;
      display: inline-block;
      vertical-align: middle;
      text-align: left; }
    header .landing-description .description-wrapper::before, .header .landing-description .description-wrapper::before {
      height: 100%;
      content: '';
      display: inline-block;
      vertical-align: middle; }
    header .landing-description .description-wrapper h1, .header .landing-description .description-wrapper h1 {
      text-align: center;
      margin: 1em 0;
      letter-spacing: 2px; }
    header .landing-description .description-wrapper .btn-wrapper, .header .landing-description .description-wrapper .btn-wrapper {
      margin-top: 1.5em;
      margin-bottom: 2em;
      text-align: center; }
    header .landing-description .description-wrapper .mobile-description, .header .landing-description .description-wrapper .mobile-description {
      text-align: center; }
      header .landing-description .description-wrapper .mobile-description h3, .header .landing-description .description-wrapper .mobile-description h3 {
        letter-spacing: 1px; }
      header .landing-description .description-wrapper .mobile-description h4, .header .landing-description .description-wrapper .mobile-description h4 {
        font-family: 'KaiTi', 'STKaiti'; }
    header .landing-description .description-wrapper .logo-icon, .header .landing-description .description-wrapper .logo-icon {
      width: 4rem;
      height: 4rem;
      display: inline-block; }
    header .landing-description .description-wrapper img, .header .landing-description .description-wrapper img {
      width: 100%;
      height: 100%; }

#header_nav_mobile {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #header_nav_mobile .service-links {
    padding-top: .8rem;
    margin-top: .5rem; }
    #header_nav_mobile .service-links a {
      color: white;
      font-size: 1rem;
      margin-right: 1em; }
  #header_nav_mobile #menu_icon {
    padding: 0.6rem 1rem;
    margin-top: .5rem;
    display: inline-block;
    font-size: 1.2rem;
    color: white; }
  #header_nav_mobile .menu-details {
    max-height: 0;
    overflow: hidden;
    margin: 0 1rem;
    margin-top: .5rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #header_nav_mobile .menu-details a {
      color: #666666; }
      #header_nav_mobile .menu-details a:visited {
        color: #666666; }
      #header_nav_mobile .menu-details a.active, #header_nav_mobile .menu-details a:active {
        color: #5cac4b; }
  #header_nav_mobile .navs {
    border-top: 1px solid #cccccc;
    padding: 1rem;
    padding-bottom: 0; }
    #header_nav_mobile .navs .mobile-nav-item {
      margin-bottom: 1rem;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      #header_nav_mobile .navs .mobile-nav-item:nth-child(3n) {
        text-align: right; }
      #header_nav_mobile .navs .mobile-nav-item:nth-child(3n+1) {
        text-align: left; }
      #header_nav_mobile .navs .mobile-nav-item:nth-child(3n+2) {
        text-align: center; }
  #header_nav_mobile .sub-navs {
    display: none; }
    #header_nav_mobile .sub-navs.active {
      display: block; }
  #header_nav_mobile .contacts {
    padding: 1rem;
    padding-top: 0; }
    #header_nav_mobile .contacts .location {
      margin: .5rem 0; }
      #header_nav_mobile .contacts .location div {
        line-height: 1.5; }
      #header_nav_mobile .contacts .location span {
        margin-right: 1rem; }
    #header_nav_mobile .contacts .extra-links {
      margin: 1.5rem 0;
      margin-bottom: 0; }
    #header_nav_mobile .contacts .extra-link-item {
      display: inline-block;
      margin-bottom: .5rem;
      margin-right: 1.5rem; }
      #header_nav_mobile .contacts .extra-link-item i {
        margin-right: .5rem; }
      #header_nav_mobile .contacts .extra-link-item .fa-weixin {
        color: #16C045; }
      #header_nav_mobile .contacts .extra-link-item .fa-qq {
        color: #0081FF; }
      #header_nav_mobile .contacts .extra-link-item .fa-weibo {
        color: #F73B3B; }
  #header_nav_mobile.expanded {
    background-color: white;
    color: #333333;
    box-shadow: 0 0 4px 0 #666666; }
    #header_nav_mobile.expanded #menu_icon {
      color: #333333; }
    #header_nav_mobile.expanded .menu-details {
      max-height: 30rem; }
    #header_nav_mobile.expanded .service-links a {
      color: #333333; }

@media only screen and (max-width: 800px) {
  header .landing-description .description-wrapper {
    max-height: 100%;
    height: 100%;
    margin-top: 0;
    width: 100%;
    padding: 0 1rem; }
    header .landing-description .description-wrapper .btn-wrapper {
      margin-top: 6rem;
      margin-bottom: 0; } }

.photos-preview {
  background-color: #f5f5f5; }

.imgs-wall {
  font-size: 0;
  text-align: center !important;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  max-height: 24rem;
  overflow: hidden; }
  .imgs-wall > * {
    font-size: 1rem; }
  .imgs-wall .image-item {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    overflow: hidden; }
    .imgs-wall .image-item img {
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .imgs-wall .image-item img:hover {
        transform: scale(1.1); }

@media only screen and (max-width: 800px) {
  .photos-preview .panel-wrapper {
    padding-bottom: 0; }
  .imgs-wall {
    max-height: 30rem;
    margin-bottom: 0; }
    .imgs-wall .image-item {
      width: 50%;
      height: 10rem; } }

.introduction-panel {
  background-image: url(2.png);
  background-position: center;
  background-size: cover;
  color: white; }
  .introduction-panel .panel-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    padding-bottom: 4rem;
    max-width: 100%; }
  .introduction-panel .panel-content {
    min-width: 80%;
    text-align: center; }
  .introduction-panel h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding: 1.5rem 0; }
  .introduction-panel .introduction-item {
    padding: 1em 4em; }
    .introduction-panel .introduction-item p {
      line-height: 3;
      color: #f5f5f5;
      padding: 1em; }

@media only screen and (max-width: 800px) {
  .introduction-panel .introduction-item {
    padding: 1em; }
    .introduction-panel .introduction-item p {
      padding: 0;
      margin-bottom: 0; }
  .introduction-panel .panel-wrapper {
    padding-bottom: 2rem; }
  .introduction-panel .panel-content {
    width: 100%;
    padding: 0; }
  .introduction-panel h4 {
    padding: 0; }
  .introduction-panel .divider {
    margin: 0 3rem; } }

.categories-panel .category-item {
  padding: 1rem 2rem;
  padding-bottom: 2rem; }
  .categories-panel .category-item h4 {
    margin-top: 0;
    font-size: 1.1rem;
    margin-bottom: .8em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block; }
  .categories-panel .category-item .category-cover {
    width: 100%;
    height: 5rem;
    overflow: hidden; }
    .categories-panel .category-item .category-cover img {
      width: 100%; }
  .categories-panel .category-item p {
    font-size: .75rem;
    margin: 1.5em 0; }
  .categories-panel .category-item .category-footer {
    font-size: .8rem; }

.categories-panel .switch-control {
  position: absolute;
  z-index: 10;
  top: .8rem;
  right: 1rem;
  background-color: white; }
  .categories-panel .switch-control i {
    padding: 0.3rem 0.5rem;
    margin-left: .2rem;
    cursor: pointer; }
  .categories-panel .switch-control .disabled {
    cursor: default;
    color: #999999; }

@media only screen and (max-width: 800px) {
  .categories-panel .panel-content {
    padding: 0;
    overflow: hidden;
    position: relative; }
    .categories-panel .panel-content .grid {
      width: 300%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .categories-panel .category-item {
    padding: 0 1rem;
    margin: 1rem 0; }
    .categories-panel .category-item h4 {
      width: 80%; } }

.footer-panel {
  background-color: #272727;
  color: white; }
  .footer-panel .panel-content {
    padding: 1rem 4rem;
    margin: 0; }
  .footer-panel .contacts-container {
    vertical-align: middle; }
    .footer-panel .contacts-container p {
      font-size: .75rem;
      margin: 0; }
    .footer-panel .contacts-container .extra-links {
      margin-top: .5rem; }
  .footer-panel .extra-link-item {
    display: inline-block;
    padding: .5rem;
    font-size: 1.2rem;
    margin-right: .5rem;
    border-radius: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
    position: relative; }
    .footer-panel .extra-link-item.extra-qq {
      background-color: #0081FF; }
    .footer-panel .extra-link-item.extra-weixin {
      background-color: #16C045; }
    .footer-panel .extra-link-item.extra-weibo {
      background-color: #F73B3B; }
    .footer-panel .extra-link-item .qr-container {
      position: absolute;
      left: -1.4rem;
      bottom: 120%;
      display: none;
      padding: .5rem;
      background-color: white; }
      .footer-panel .extra-link-item .qr-container img {
        width: 4rem;
        height: 4rem; }
      .footer-panel .extra-link-item .qr-container .caret-down {
        width: 0;
        height: 0;
        border-top: .5rem solid white;
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-bottom: none;
        position: absolute;
        top: 100%;
        margin-top: -1px;
        left: 2rem; }
    .footer-panel .extra-link-item:hover .qr-container {
      display: block; }
  .footer-panel .friend-links {
    vertical-align: middle; }
    .footer-panel .friend-links > .grid {
      max-width: 25rem;
      margin-left: auto; }
  .footer-panel .friend-link-item {
    padding: .5rem; }
    .footer-panel .friend-link-item img {
      width: 100%;
      display: block; }
  .footer-panel .copyright-container {
    margin: 0 2rem;
    margin-top: 1.5rem;
    border-top-color: #414141;
    text-align: center;
    height: .4rem; }
    .footer-panel .copyright-container .copyright-text {
      white-space: nowrap;
      display: inline-block;
      position: relative;
      top: -.65rem;
      font-size: .75rem;
      background-color: #272727;
      color: #5a5a5a;
      padding: 0 1rem; }
      .footer-panel .copyright-container .copyright-text span {
        margin: 0 3px; }

@media only screen and (max-width: 800px) {
  .footer-panel .panel-content {
    padding: 0 1.5rem; }
  .footer-panel .contacts-container {
    text-align: center; }
  .footer-panel .friend-links {
    margin: 2rem auto; }
    .footer-panel .friend-links > .grid {
      margin: auto; }
  .footer-panel .friend-link-item {
    margin: 0;
    width: 50%;
    padding: .5rem;
    padding-bottom: 0; }
  .footer-panel .copyright-container {
    border-top: none;
    height: auto;
    margin: 0; }
    .footer-panel .copyright-container .copyright-text {
      white-space: normal;
      position: static;
      line-height: 1.5; } }

.faq-categories, #questions_container {
  max-width: 1200px;
  margin: 0 auto; }

.faq-category-item {
  font-size: 0;
  text-align: center;
  height: 7rem;
  margin: .5rem;
  background-size: cover;
  background-position: center;
  color: white; }
  .faq-category-item > * {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    text-align: left; }
  .faq-category-item::before {
    height: 100%;
    content: '';
    display: inline-block;
    vertical-align: middle; }
  .faq-category-item h3 {
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block; }
  .faq-category-item p {
    margin: 0;
    margin-top: 1rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block; }
  .faq-category-item .category-info {
    padding: 0 1rem;
    width: 100%; }

#questions_container {
  padding: 0 1rem; }
  #questions_container .faq-section {
    margin: 1.5rem 0; }
    #questions_container .faq-section h4 {
      margin: .5rem 0;
      color: #5cac4b; }
    #questions_container .faq-section p {
      margin: 0;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; }
    #questions_container .faq-section .faq-expand-toggler {
      margin-top: .5rem;
      font-size: .8rem;
      color: #5cac4b;
      cursor: pointer; }
    #questions_container .faq-section.expanded p {
      display: block; }
