extends ./share/layout.jade
block body
  header
    include ./share/head-nav-pc.jade
    - var title = '联系我们'
    include ./share/head-nav-mobile.jade
  include ./aboutme/content.jade
  include ./share/map.jade
  include ./share/footer.jade