extends ./share/layout.jade
block body
  header
    include ./share/head-nav-pc.jade
    include ./share/head-nav-mobile.jade
  - var title = '新闻聚焦'
  include ./share/title.jade
  include ./category/pages.jade
  include ./share/footer.jade