extends ./share/layout.jade
block body
  header
    include ./share/head-nav-pc.jade
    - var title = '分类首页'
    include ./share/head-nav-mobile.jade
  include ./category/pages.jade
  include ./share/footer.jade