extends ./share/layout.jade
block body
  .header.category-header
    include ./share/head-nav-pc.jade
    include ./category/header-mobile.jade
  include ./category/pages.jade
  include ./share/footer.jade