extends ./share/layout.jade
block body
  header
    include ./share/head-nav-pc.jade
    - var title = '常见问题'
    include ./share/head-nav-mobile.jade
  include ./faq/category-nav.jade
  include ./faq/sections.jade
  include ./share/footer.jade