extends ./share/layout.jade
block body
  .header.faq-header
    include ./share/head-nav-pc.jade
    include ./faq/header-mobile.jade
  include ./faq/category-nav.jade
  include ./faq/sections.jade
  include ./share/footer.jade