.panel-item.footer-panel
  .panel-wrapper
    .panel-content
      .contacts-container
        p 四川省成都市东城根上街55号（科技大厦7楼）
        p 联系电话：400-8611-7088
        p.extra-links
          .extra-link-item
          .extra-link-item
          .extra-link-item
      .friend-links