.panel-item.footer-panel
  .panel-wrapper
    .panel-content.grid
      .contacts-container.grid-1-2
        p 四川省成都市东城根上街55号（科技大厦7楼）
        p 联系电话：400-8611-7088
        .extra-links
          .extra-link-item.extra-qq
            i.fa.fa-qq
            .qr-container
              img(src='http://img5.imgtn.bdimg.com/it/u=1571601066,1245277889&fm=21&gp=0.jpg', alt='qr-code')
              .caret-down
          .extra-link-item.extra-weixin
            i.fa.fa-weixin
            .qr-container
              img(src='http://img5.imgtn.bdimg.com/it/u=1571601066,1245277889&fm=21&gp=0.jpg', alt='qr-code')
              .caret-down
          .extra-link-item.extra-weibo
            i.fa.fa-weibo
            .qr-container
              img(src='http://img5.imgtn.bdimg.com/it/u=1571601066,1245277889&fm=21&gp=0.jpg', alt='qr-code')
              .caret-down
      .friend-links.grid-1-2
        .grid
          .friend-link-item.grid-1-2
            img(src='http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&fm=21&gp=0.jpg', alt='uv-logo')
          .friend-link-item.grid-1-2
            img(src='http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&fm=21&gp=0.jpg', alt='uv-logo')
          .friend-link-item.grid-1-2
            img(src='http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&fm=21&gp=0.jpg', alt='uv-logo')
          .friend-link-item.grid-1-2
            img(src='http://img2.imgtn.bdimg.com/it/u=3559948988,2305780894&fm=21&gp=0.jpg', alt='uv-logo')

    .copyright-container.divider
      .copyright-text
        span Copyright &copy; 2009-2015
        span WEIBO
        span 成都广播电视大学直属城中学院
        span 京ICP备12002058号