header
  #header_nav.nav.expanded
    .nav-sign
      .nav-list-mini
        a.nav-item-mini(href='/index') 登录
        span.vertical-divider
        a.nav-item-mini(href='/index') 支持
        span.vertical-divider
        a.nav-item-mini(href='/index') 关于我们
    img.nav-logo(src='logo.png', alt='LOGO')
    .nav-list
      a.nav-item(href='/index') 首页
      span.nav-item
        span 新闻聚焦
        .sub-nav-list
          a.sub-nav-item(href='/index') 时事新闻
          .divider
          a.sub-nav-item(href='/index') 学校近况
          .divider
          a.sub-nav-item(href='/index') 最新活动
      a.nav-item(href='/index') 常见问题
      a.nav-item(href='/index') 联系我们

  .landing-description
    .description-wrapper
      h1 成都广播电视大学直属城中学院
      .divider
      p 成都广播电视大学是中央广播电视大学的省级电大，成都市人民政府主办。直属城中学院是成都电大在成都市中心区域设立的直属办学单位，具体承担学历教育和技能培训的综合办学实体单位。学院位于东城根上街55号，地理位置优越，交通便利。
      .btn-wrapper
        a.btn-primary(href='##') 在线报名
