extends ./share/layout.jade
block body
  include ./index/header.jade
  include ./index/summary.jade
  include ./index/photos.jade
  include ./index/introduction.jade
  include ./index/categories.jade
  include ./index/map.jade
  include ./share/footer.jade
