extends ./share/layout.jade
block body
  header.index-header
    include ./share/head-nav-pc.jade
    include ./share/head-nav-mobile.jade
  include ./index/landing.jade
  include ./index/summary.jade
  include ./index/photos.jade
  include ./index/introduction.jade
  include ./index/categories.jade
  include ./share/map.jade
  include ./share/footer.jade
