doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', chartset='UTF-8')
    title page title
    link(rel="stylesheet", href="index.css")
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type="text/javascript", src="index.js")
  body
    block body