extends ./share/layout.jade
block body
  header
    include ./share/head-nav-pc.jade
    - var title = '文章标题'
    include ./share/head-nav-mobile.jade
  include ./page/content.jade
  include ./share/footer.jade