#header_nav.nav.expanded.hidden-mobile
  .content-wrapper
    .nav-sign
      .nav-list-mini
        a.nav-item-mini(href='/index') 登录
        span.vertical-divider
        a.nav-item-mini(href='/index') 支持
        span.vertical-divider
        a.nav-item-mini(href='/index') 关于我们
    img.nav-logo.pull-left(src='logo-title.png', alt='LOGO')
    .nav-list
      a.nav-item(href='/index') 首页
      span.nav-item
        span 新闻聚焦
        i.fa.fa-angle-down
        .sub-nav-list
          a.sub-nav-item(href='/page') 时事新闻
          .divider
          a.sub-nav-item(href='/page') 学校近况
          .divider
          a.sub-nav-item(href='/page') 最新活动
      a.nav-item(href='/FAQ') 常见问题
      a.nav-item(href='/aboutme') 联系我们
      a.nav-item(href='/category') 分类
