#header_nav_mobile.hidden-pc
  .service-links
    a(href="/FAQ") 常见问题
    a(href="/aboutme") 联系我们
  #menu_icon
    i.fa.fa-bars
  .menu-details
    .navs.grid
      .grid-1-3.mobile-nav-item
        a(href='##') 首页
      .grid-1-3.mobile-nav-item
        a.has-sub-nav(href='#news_sub') 新闻聚焦
      .grid-1-3.mobile-nav-item
        a(href='##') 常见问题
      .grid-1-3.mobile-nav-item
        a(href='##') 联系我们
      .grid-1-3.mobile-nav-item
        a(href='##') 招生专栏
    .sub-navs.navs.grid#news_sub
      .grid-1-3.mobile-nav-item
        a(href='##') 新生安排
      .grid-1-3.mobile-nav-item
        a(href='##') 课程安排
      .grid-1-3.mobile-nav-item
        a(href='##') 学习平台
      .grid-1-3.mobile-nav-item
        a(href='##') 考试平台
      .grid-1-3.mobile-nav-item
        a(href='##') 证书展示
    .contacts
      .location
        div 四川省成都市青羊区东城根上街55号（科技大厦7楼）
        div
          span 400-822-4322
          span （028）8611-7088
      .extra-links
        .extra-link-item
          i.fa.fa-weixin
          span cdrtvu-kf
        .extra-link-item
          i.fa.fa-qq
          span 9513554589
        .extra-link-item
          i.fa.fa-weibo
          span 成都电大直属城中学院