doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title page title
    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type="text/javascript", src="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js")
    script(type="text/javascript", name="baidu-tc-cerfication", data-appid="4960729", src="http://apps.bdimg.com/cloudaapi/lightapp.js")
  body
    block body

    script(type="text/javascript", src="index.js")
    script(type="text/javascript", src="FAQ.js")
    script(type="text/javascript", src="map.js")