.faq-category-item {
  margin: .5rem;
  color: white;
  display: block;
  position: relative;

  h3 {
    margin: 0;
    text-align: center;
    @include text-ellipsis;
  }

  img {
    width: 100%;
  }

  p {
    margin: 0;
    margin-top: 1rem;
    text-align: center;
    @include text-ellipsis;
  }

  .centered-position {
    @include centered-block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);

    .category-info {
      padding: 0 1rem;
      width: 100%;
    }
  }
}

.faq-categories>.grid {
  margin: 0 .5rem;
}

#questions_container {
  padding: 0 1rem;

  .faq-section {
    margin: 1.5rem 0;

    h4 {
      margin: .5rem 0;
      color: $link-color;
    }

    p {
      margin: 0;
      @include line-clamp(2);
    }

    .faq-expand-toggler {
      margin-top: .5rem;
      font-size: .8rem;
      color: $link-color;
      cursor: pointer;
    }

    &.expanded {
      p {
        display: block;
      }
    }
  }
}
