.faq-category-item {
  @include centered-block;
  height: 7rem;
  margin: .5rem;
  background-size: cover;
  background-position: center;
  color: white;

  h3 {
    margin: 0;
    text-align: center;
    @include text-ellipsis;
  }

  p {
    margin: 0;
    margin-top: 1rem;
    text-align: center;
    @include text-ellipsis;
  }

  .category-info {
    padding: 0 1rem;
    width: 100%;
  }
}

#questions_container {
  padding: 0 1rem;

  .faq-section {
    margin: 1.5rem 0;

    h4 {
      margin: .5rem 0;
      color: $link-color;
    }

    p {
      margin: 0;
      @include line-clamp(2);
    }

    .faq-expand-toggler {
      margin-top: .5rem;
      font-size: .8rem;
      color: $link-color;
      cursor: pointer;
    }

    &.expanded {
      p {
        display: block;
      }
    }
  }
}
