.landing-description {
  color: white;
  height: 100%;

  @include centered-block;

  .description-wrapper {
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 5rem;
    padding: 0 2em;

    h1 {
      text-align: center;
      margin: 1em 0;
      letter-spacing: 2px;
    }

    .btn-wrapper {
      margin-top: 1.5em;
      margin-bottom: 2em;
      text-align: center;
    }
  }
}