header, .header {
  .nav {
    background-color: rgba(92, 172, 75, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    height: 4.5rem;
    padding: 1rem;
    z-index: 10;
    @include transition;

    &.expanded {
      height: 6rem;

      .nav-sign {
        max-height: 2rem;
      }
    }

    .nav-sign {
      max-height: 0;
      overflow: hidden;
      text-align: right;
      @include transition;

      .nav-item-mini {
        color: #c6f8b7;
        font-size: .75rem;
        vertical-align: middle;
        padding: 0 1rem;
        @include transition;
        text-decoration: none;

        &:hover {
          color: white;
        }
      }

      .vertical-divider {
        border-left: 1px solid #666;
        font-size: .75rem;
        vertical-align: middle;
      }

      .nav-list-mini {
        padding-bottom: .5em;
        padding-right: .5rem;
      }
    }

    .nav-logo {
      float: left;
    }

    .nav-list {
      text-align: right;
      vertical-align: middle;
      padding-top: .7rem;
    }

    .nav-item {
      padding: .7rem 1.5rem;
      color: #c6f8b7;
      display: inline;
      position: relative;
      cursor: pointer;
      font-size: .9rem;
      text-decoration: none;
      @include transition;

      &:hover, &.active {
        color: white;
      }

      &:hover {
        .sub-nav-list {
          max-height: 10rem;
        }
      }
    }

    .sub-nav-list {
      max-height: 0;
      overflow: hidden;
      position: absolute;
      @include transition;
      top: 100%;
      left: 0;
      right: 0;
      padding: 0 1rem;
      background-color: rgba(92, 172, 75, 1);
      box-shadow: 0 0 4px 0 #333;

      .sub-nav-item {
        color: #c6f8b7;
        text-decoration: none;
        display: block;
        text-align: center;
        padding: .8rem 0;
        font-size: .9rem;

        &:hover {
          color: white;
        }
      }

      .divider {
        border-top: 1px solid #c6f8b7;
      }
    }
  }

  .landing-description {
    color: white;
    height: 100%;

    @include centered-block;

    .description-wrapper {
      max-width: 700px;
      background-color: rgba(0, 0, 0, 0.5);
      margin-top: 5rem;
      padding: 0 2rem;

      @include centered-block;

      h1 {
        text-align: center;
        margin: 1em 0;
        letter-spacing: 2px;
      }

      .btn-wrapper {
        margin-top: 1.5em;
        margin-bottom: 2em;
        text-align: center;
      }

      .mobile-description {
        text-align: center;

        h3 {
          letter-spacing: 1px;
        }

        h4 {
          font-family: 'KaiTi', 'STKaiti';
        }
      }

      .logo-icon {
        width: 4rem;
        height: 4rem;
        display: inline-block;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

#header_nav_mobile {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  left: 0;
  @include transition;

  .service-links {
    padding-top: .8rem;
    margin-top: .5rem;

    a {
      color: white;
      font-size: 1rem;
      margin-right: 1em;
    }
  }

  #menu_icon {
    padding: .6rem 1rem;
    margin-top: .5rem;
    display: inline-block;
    font-size: 1.2rem;
    color: white;
  }

  .menu-details {
    max-height: 0;
    overflow: hidden;
    margin: 0 1rem;
    margin-top: .5rem;

    @include transition;

    a {
      color: #666666;

      &:visited {
        color: #666666;
      }

      &.active, &:active {
        color: #5cac4b;
      }
    }
  }

  .navs {
    border-top: 1px solid #cccccc;
    padding: 1rem;
    padding-bottom: 0;

    .mobile-nav-item {
      margin-bottom: 1rem;
      @include transition;

      &:nth-child(3n) {
        text-align: right;
      }

      &:nth-child(3n+1) {
        text-align: left;
      }

      &:nth-child(3n+2) {
        text-align: center;
      }
    }

  }

  .sub-navs {
    display: none;

    &.active {
      display: block;
    }
  }

  .contacts {
    padding: 1rem;
    padding-top: 0;

    .location {
      margin: .5rem 0;

      div {
        line-height: 1.5;
      }

      span {
        margin-right: 1rem;
      }
    }

    .extra-links {
      margin: 1.5rem 0;
      margin-bottom: 0;
    }

    .extra-link-item {
      display: inline-block;
      margin-bottom: .5rem;
      margin-right: 1.5rem;

      i {
        margin-right: .5rem;
      }

      .fa-weixin {
        color: #16C045;
      }

      .fa-qq {
        color: #0081FF;
      }

      .fa-weibo {
        color: #F73B3B;
      }
    }
  }

  &.expanded {
    background-color: white;
    color: #333333;
    box-shadow: 0 0 4px 0 #666666;

    #menu_icon {
      color: #333333;
    }

    .menu-details {
      max-height: 30rem;
    }

    .service-links {
      a {
        color: #333333;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  header {
    .landing-description {
      .description-wrapper {
        max-height: 100%;
        height: 100%;
        margin-top: 0;
        width: 100%;
        padding: 0 1rem;

        .btn-wrapper {
          margin-top: 6rem;
          margin-bottom: 0;
        }
      }
    }
  }
}
