$breakpoint-mobile: 767px;
$breakpoint-pc: 959px;
$link-color: lighten(#5cac4b, 5%);
$link-hover-color: #5cac4b;
$mask-color: rgba(0, 0, 0, 0.5);
$nav-bgc: rgba(92, 172, 75, 0.9);
$max-width: 1200px;
$img-wall-size: 12rem;

@mixin transition {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@mixin centered-block {
  font-size: 0;
  text-align: center;

  & > * {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }

  &::before {
    height: 100%;
    content: '';
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

@mixin line-clamp($n) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $n;
}

@mixin center-bg {
  background-size: cover;
  background-position: center center;
}

.grid {
  font-size: 0;
  display: block;

  & > * {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
  }
}

@for $i from 1 through 6 {
  .grid-1-#{$i} {
    width: percentage(1 / $i);
  }
}

@for $j from 1 through 6 {
  @media only screen and (max-width: $breakpoint-mobile) {
    .grid-s-1-#{$j} {
      width: percentage(1 / $j);
    }
  }
}

.divider {
  border-top: 1px solid #ccc;
}

.clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hidden-mobile {
  @media only screen and (max-width: $breakpoint-mobile) {
    display: none!important;
  }
}

.hidden-pc {
  @media only screen and (min-width: $breakpoint-mobile + 1) {
    display: none!important;
  }
}

.btn {
  padding: .5rem .8rem;
  display: inline-block;
  background-color: #eeeeee;
  vertical-align: middle;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  @include transition;

  &:hover {
    background-color: #dddddd;
  }

  &.btn-block {
    display: block!important;
  }

  &.rounded {
    padding: .7rem 2rem;
    border-radius: 1.5rem;
  }

  &.btn-primary, &.active {
    background-color: $link-color!important;
    color: white;

    &:hover {
      background-color: $link-hover-color!important;
    }
  }

  &.active {
    cursor: default;
  }

  &.disabled {
    cursor: default;
    color: #7b7b7b;
    background-color: #c3c3c3;

    &:hover {
      background-color: #c3c3c3;
      color: #7b7b7b;
    }
  }
}

.content-wrapper {
  max-width: $max-width;
  margin: 0 auto;
}

.position-element {
  position: relative;
}