.landing-description {
  color: white;
  height: 100%;
  background-image: url(banner.png);

  @include centered-block;
  @include center-bg;

  .description-wrapper {
    max-width: 700px;
    background-color: $mask-color;
    margin-top: 5rem;
    padding: 0 2rem;

    @include centered-block;

    h1 {
      text-align: center;
      margin: 1em 0;
      letter-spacing: 2px;
    }

    .btn-wrapper {
      margin-top: 1.5em;
      margin-bottom: 2em;
      text-align: center;
    }

    .mobile-description {
      text-align: center;

      h3 {
        letter-spacing: 1px;
      }

      h4 {
        font-family: 'KaiTi', 'STKaiti';
      }
    }

    .logo-icon {
      width: 4rem;
      height: 4rem;
      display: inline-block;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .next-anchor {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;

    a {
      color: white;
      font-size: 3rem;
      padding: 0 1rem;
      line-height: 4.5rem;
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .landing-description {
    .description-wrapper {
      max-width: 100%;
      height: 100%;
      margin-top: 0;
      width: 100%;
      padding: 0 1rem;

      .btn-wrapper {
        margin-top: 6rem;
        margin-bottom: 0;
      }
    }

    .next-anchor {
      a {
        line-height: 3.6rem;
      }
    }
  }
}
