header {
  position: fixed;
  z-index: 10;
  background-color: $nav-bgc;
  top: 0;
  left: 0;
  width: 100%;

  &.index-header {
    padding-bottom: 0;

    & + div {
      margin-top: 0;
    }
  }

  & + div {
    margin-top: 6rem!important;
  }
}

.panel-item {
  text-align: center;

  .panel-wrapper {
    max-width: 1200px;
    padding: 1em 0;
    margin: 0 auto;

    h3 {
      color: rgba(92, 172, 75, 1);
    }
  }

  .panel-content {
    text-align: left;
    padding: 0 2em;

    em {
      color: rgba(92, 172, 75, 1);
      font-style: normal;
    }
  }
}

.map-panel {
  img {
    width: 100%;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  header {
    position: relative;

    & + div {
      margin-top: 0!important;
    }

    &.index-header {
      position: absolute;
      background-color: transparent;
    }
  }
}