header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.panel-item {
  text-align: center;

  .panel-wrapper {
    padding: 1em 0;

    h3 {
      color: $nav-bgc;
    }
  }

  .panel-content {
    text-align: left;
    padding: 0 1.5rem;

    em {
      font-style: normal;
    }
  }
}

.map-panel {
  width: 100%;
  height: 60%;
}

.page-title-panel {
  @include center-bg;
  background-image: none;
  height: 6rem;

  .mobile-page-title {
    font-size: 1.2rem;
    color: white;
    height: 100%;
    width: 100%;
    line-height: 6rem;
    text-align: center;
    background-color: $nav-bgc;
    display: none;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  header {
    position: absolute;
  }

  .map-panel {
    height: 80%;
  }

  .page-title-panel {
    background-image: url(2.png);

    .mobile-page-title {
      display: block;
    }
  }
}