.pages-container {
  padding: 1rem;

  .page-item-first {
    margin-bottom: 1rem;
    display: block;

    .page-item-cover {
      position: relative;
      height: 10rem;
      margin-bottom: .5rem;
      @include center-bg;

      .page-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $mask-color;
        color: white;
        padding: .5rem;
      }
    }
  }

  .page-item-content {
    overflow: hidden;
    color: #333333;

    p {
      margin: 0;
      margin-bottom: .5rem;
      @include line-clamp(3);
    }

    .page-created_at {
      float: right;
    }

    em {
      font-size: .8rem;
    }
  }

  .page-item {
    padding-top: .8rem;
    margin-bottom: 0.8rem;
    display: block;

    .page-item-cover {
      float: left;
      margin-right: .8rem;
      max-width: 20%;

      img {
        width: 100%;
      }
    }

    .page-title {
      margin-bottom: .8rem;
      margin-top: .3rem;
      font-weight: bold;
      color: #5cac4b;
    }
  }
}

.page-container {
  padding: 1rem;

  h2, h4 {
    color: $link-color;
    margin: .5rem 0;
    line-height: 1.5;
    font-weight: normal;
  }

  .page-main-content {
    width: 60%;
  }

  .page-body {
    img {
      width: 100%;
    }

    p {
      text-indent: 2em;
    }
  }

  .related-pages {
    width: 30%;
    margin-left: 10%;

    h4 {
      border-bottom: 1px solid #999999;
      padding-bottom: .5rem;
    }

    a {
      list-style-type: none;
      overflow: hidden;
      margin-bottom: 1rem;
      display: block;

      img {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: .5rem;
      }

      .relate-page-title {
        font-size: .9rem;
        line-height: 1.5;
        color: lighten(#444444, 15%);

        &:hover {
          color: #444444;
        }
      }
    }
  }
}

.page-header-cover {
  img {
    width: 100%;
  }
}

.page-created_at {
  color: #999999;
  font-size: .8rem;
}

@media only screen and (max-width: $breakpoint-mobile) {
  .pages-container {
    .page-item {
      border-top: 1px solid #dddddd;

      .page-title {
        margin-bottom: .5rem;
        margin-top: 0;
      }
    }

    .page-item-content {
      p {
        @include text-ellipsis;
      }

      .page-created_at {
        float: none;
      }
    }
  }

  .page-container {
    .page-main-content {
      width: 100%;
    }
  }
}