.panel-item
  .panel-wrapper.content-wrapper
    h3 关于我们
    .panel-content
      p 学院实行经资格审核入学制度，凡符合入学资格条件的求学者，经资格审核后均可注册学校。开放灵活的学习模式，实行完全学分制，学籍八年有效。实行滚动开课和滚动考试，学生可根据所选专业的情况自主选择课程、学习时间、学习进度等，修满规定的学分即可毕业。个性化的教学模式，逐步“学导结合”、“面授课程＋网上学习”、“系＋平台＋资源统”的教学模式。建立了远程教学平台，实行课程教学资源开放，学员可根据个人需要进行选学。
      p 尽一切可能为学员提供更多更好的支持服务：教学辅导、网上答疑、QQ咨询、微信公众号、媒体教学资源、历年试卷下载和考试分析、网上进行视频点播、CAI课件、教师教学课件等资料。
      p 在各个专业有选择地将核心课程进行扩展，为学员提供深入学习和实践地机会，让每一个专业的学员都能享有能力提高和业务增强的机会。

.panel-item.photos-preview
  .panel-wrapper.content-wrapper
    h3 我们的团队
    .panel-content#namecards
      .grid#imgs_wall
        .card-item
          .hidden-pc.card-mobile-content
            span 张三
            span (叫兽)
          .card-content.hidden-mobile
            .center-position
              h4.name 张三
              .position 叫兽
              .mobilephone 13576737812
          img(src="http://img3.imgtn.bdimg.com/it/u=960127061,4148124554&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 李四
            span (硕士)
          .card-content.hidden-mobile
            .center-position
              h4.name 李四
              .position 硕士
              .mobilephone 15284243786
          img(src="http://img2.imgtn.bdimg.com/it/u=984890831,1581626481&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 王麻子
            span (研究僧)
          .card-content.hidden-mobile
            .center-position
              h4.name 王麻子
              .position 研究僧
              .mobilephone 18276676761
          img(src="http://img2.imgtn.bdimg.com/it/u=2028171401,1460118615&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 赵日天
            span (讲师)
          .card-content.hidden-mobile
            .center-position
              h4.name 赵日天
              .position 讲师
              .mobilephone 13766762513
          img(src="http://img5.imgtn.bdimg.com/it/u=430195070,495481443&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 龙怼怼
            span (教授)
          .card-content.hidden-mobile
            .center-position
              h4.name 龙怼怼
              .position 教授
              .mobilephone 18756236677
          img(src="http://img3.imgtn.bdimg.com/it/u=2742948495,1107419556&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 欢乐豆
            span (讲师)
          .card-content.hidden-mobile
            .center-position
              h4.name 欢乐豆
              .position 讲师
              .mobilephone 18993248987
          img(src="http://img2.imgtn.bdimg.com/it/u=3142843383,1246557141&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 光头强
            span (硕士)
          .card-content.hidden-mobile
            .center-position
              h4.name 光头强
              .position 硕士
              .mobilephone 15289868671
          img(src="http://img2.imgtn.bdimg.com/it/u=2299386697,3677621813&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 大胡子
            span (研究生)
          .card-content.hidden-mobile
            .center-position
              h4.name 大胡子
              .position 研究生
              .mobilephone 15826665666
          img(src="http://img3.imgtn.bdimg.com/it/u=3971707512,2496519529&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 范冰冰
            span (特约嘉宾)
          .card-content.hidden-mobile
            .center-position
              h4.name 范冰冰
              .position 特约嘉宾
              .mobilephone 182xxxxx762
          img(src="http://img3.imgtn.bdimg.com/it/u=649876163,111054982&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 光头强
            span (硕士)
          .card-content.hidden-mobile
            .center-position
              h4.name 光头强
              .position 硕士
              .mobilephone 15289868671
          img(src="http://img2.imgtn.bdimg.com/it/u=2299386697,3677621813&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 赵丽颖
            span (院士)
          .card-content.hidden-mobile
            .center-position
              h4.name 赵丽颖
              .position 院士
              .mobilephone 18752737712
          img(src="http://img5.imgtn.bdimg.com/it/u=2975421360,3938100507&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 周董
            span (硕士)
          .card-content.hidden-mobile
            .center-position
              h4.name 周董
              .position 硕士
              .mobilephone 15661378787
          img(src="http://img5.imgtn.bdimg.com/it/u=2506648834,3386931431&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 李奕迅
            span (歌手)
          .card-content.hidden-mobile
            .center-position
              h4.name 李奕迅
              .position 歌手
              .mobilephone 18576723132
          img(src="http://img2.imgtn.bdimg.com/it/u=1399831507,23586601&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 光头强
            span (硕士)
          .card-content.hidden-mobile
            .center-position
              h4.name 光头强
              .position 硕士
              .mobilephone 15289868671
          img(src="http://img2.imgtn.bdimg.com/it/u=2299386697,3677621813&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 孙悟空
            span (大湿胸)
          .card-content.hidden-mobile
            .center-position
              h4.name 孙悟空
              .position 大湿胸
              .mobilephone 15967871233
          img(src="http://img0.imgtn.bdimg.com/it/u=2536206346,2920251606&fm=23&gp=0.jpg", alt="card-photo")
        .card-item
          .hidden-pc.card-mobile-content
            span 钱多多
            span (赞助上)
          .card-content.hidden-mobile
            .center-position
              h4.name 钱多多
              .position 赞助上
              .mobilephone 请叫我雷锋
          img(src="http://img2.imgtn.bdimg.com/it/u=2118274578,2159811908&fm=23&gp=0.jpg", alt="card-photo")
