.faq-categories.content-wrapper
  .grid
    .grid-1-4.grid-s-1-2
      a.faq-category-item(href="##")
        img(src="http://img0.bdstatic.com/img/image/shouye/bizhi0608.jpg", alt="cover")
        .centered-position
          .category-info
            h3 入学咨询
            p.hidden-mobile 学校介绍、申请、考核、毕业证...
    .grid-1-4.grid-s-1-2
      a.faq-category-item(href="##")
        img(src="http://img0.bdstatic.com/img/image/shouye/jianbihua0608.jpg", alt="cover")
        .centered-position
          .category-info
            h3 学习相关
            p.hidden-mobile 学校介绍、申请、考核、毕业证...
    .grid-1-4.grid-s-1-2
      a.faq-category-item(href="##")
        img(src="http://img0.bdstatic.com/img/image/shouye/chongwu0608.jpg", alt="cover")
        .centered-position
          .category-info
            h3 学校招生
            p.hidden-mobile 学校介绍、申请、考核、毕业证...
    .grid-1-4.grid-s-1-2
      a.faq-category-item(href="##")
        img(src="http://img0.bdstatic.com/img/image/shouye/sheying0608.jpg", alt="cover")
        .centered-position
          .category-info
            h3 入学相关
            p.hidden-mobile 学校介绍、申请、考核、毕业证...
