.faq-categories
  .grid
    .grid-1-4.grid-s-1-2
      .faq-category-item(style="background-image: url(http://img0.bdstatic.com/img/image/shouye/xinshouye/mingxing1229.jpg);")
        .category-info
          h3 入学咨询
          p.hidden-mobile 学校介绍、申请、考核、毕业证...
    .grid-1-4.grid-s-1-2
      .faq-category-item(style="background-image: url(http://img0.bdstatic.com/img/image/shouye/xinshouye/bizhi1229.jpg);")
        .category-info
          h3 学习相关
          p.hidden-mobile 学校介绍、申请、考核、毕业证...
    .grid-1-4.grid-s-1-2
      .faq-category-item(style="background-image: url(http://img0.bdstatic.com/img/image/shouye/xinshouye/jiaju1229a.jpg);")
        .category-info
          h3 学校招生
          p.hidden-mobile 学校介绍、申请、考核、毕业证...
    .grid-1-4.grid-s-1-2
      .faq-category-item(style="background-image: url(http://img0.bdstatic.com/img/image/shouye/xinshouye/chongwu1229.jpg);")
        .category-info
          h3 入学相关
          p.hidden-mobile 学校介绍、申请、考核、毕业证...
