#questions_container.content-wrapper
  .faq-section
    h4 1、广播电视大学是一所什么学校？
    p 如果你注意一下技术玩家们都在读些什么，可能就会发现一些人在谈论一本叫做The Accidental Superpower的书。我是从Mark Suster（著名风险投资机构GRP Partners的合伙人）那里听说了这本书的，之后不久我就拜读了它，也就在那个时候看到了Auren Hoffman关于这本书的文章。
    .faq-expand-toggler(togglewith='收起答案') 展开答案
  .faq-section
    h4 2、收费标准
    p 风险投资作为一个行业不会完全消失，预计蓝筹股玩家会一直坚挺。不过他们投入的基金规模可能更小，下手也会更谨慎。随着参与投资的二线公司数量减少，所有公司加起来的投资总额也将减少，即便一线公司还在用大笔资金维持着周转。
    .faq-expand-toggler(togglewith='收起答案') 展开答案
  .faq-section
    h4 3、报名手续
    p 虽然一直都用破解版的OFFICE,但还是真心觉得原版的软件好！至少兼容性，通用性比较高，其他的软件虽然可能更廉价，但是总有一种“用OFFICE做脚本改良的感觉，看不到原创呢！
    .faq-expand-toggler(togglewith='收起答案') 展开答案
  .faq-section
    h4 4、报名条件
    p 这一年多时间，整个科技媒体和资本似乎都被O2O、互联网+所占据。不断有估值过10亿美元的公司产生，基本都是互联网交易型公司。
    .faq-expand-toggler(togglewith='收起答案') 展开答案