.pages-container.content-wrapper
  a.page-item-first(href="##")
    .page-item-cover(style="background-image: url(http://img1.imgtn.bdimg.com/it/u=3669995129,4286613822&fm=23&gp=0.jpg)")
      .page-title 弘扬学院文化，提升团队意识
    .page-item-content
      p 在互联网环境下，针对关键信息基础设施的新型攻击技术手段层出不穷，能源、关键制造、电力等重要行业关键信息基础设施成为了网络攻击的“重灾区”。近年来，随着关键信息基础设施互联互通的发展，各种网络安全事件时有发生。面对如此严峻的网络安全形势，建议重点从以下四个方面加强关键信息基础设施的网络安全保障能力建设。
      .page-created_at 2014-10-26
      em.hidden-mobile 阅读全文
  a.page-item.clearfix(href="##")
    .page-item-cover
      img(src="http://img0.bdstatic.com/img/image/shouye/xinshouye/chongwu1229.jpg", alt="cover")
    .page-item-content
      .page-title 注重行业特点，构建高效课堂
      p 研究建立网络安全风险信息共享机制，明确行业主管部门、科研机构、关键信息基础设施运营单位、设备生产厂商、安全企业等各方职责。在主管部门的指导下，建设国家关键信息基础设施网络安全风险信息共享平台，将关键信息基础设施网络安全风险信息、消减方案、安全态势及时通报给相关部门、科研机构和受影响的运营单位，提升对关键信息基础设施网络安全突发事件的应急处置能力。
      .page-created_at 2014-09-08
      em.hidden-mobile 阅读全文
  a.page-item.clearfix(href="##")
    .page-item-cover
      img(src="http://img0.bdstatic.com/img/image/shouye/xinshouye/chongwu1229.jpg", alt="cover")
    .page-item-content
      .page-title 注重行业特点，构建高效课堂
      p 研究建立网络安全风险信息共享机制，明确行业主管部门、科研机构、关键信息基础设施运营单位、设备生产厂商、安全企业等各方职责。在主管部门的指导下，建设国家关键信息基础设施网络安全风险信息共享平台，将关键信息基础设施网络安全风险信息、消减方案、安全态势及时通报给相关部门、科研机构和受影响的运营单位，提升对关键信息基础设施网络安全突发事件的应急处置能力。
      .page-created_at 2014-09-08
      em.hidden-mobile 阅读全文
  a.page-item.clearfix(href="##")
    .page-item-cover
      img(src="http://img0.bdstatic.com/img/image/shouye/xinshouye/chongwu1229.jpg", alt="cover")
    .page-item-content
      .page-title 注重行业特点，构建高效课堂
      p 研究建立网络安全风险信息共享机制，明确行业主管部门、科研机构、关键信息基础设施运营单位、设备生产厂商、安全企业等各方职责。在主管部门的指导下，建设国家关键信息基础设施网络安全风险信息共享平台，将关键信息基础设施网络安全风险信息、消减方案、安全态势及时通报给相关部门、科研机构和受影响的运营单位，提升对关键信息基础设施网络安全突发事件的应急处置能力。
      .page-created_at 2014-09-08
      em.hidden-mobile 阅读全文
  a.page-item.clearfix(href="##")
    .page-item-content
      .page-title 注重行业特点，构建高效课堂
      p 研究建立网络安全风险信息共享机制，明确行业主管部门、科研机构、关键信息基础设施运营单位、设备生产厂商、安全企业等各方职责。在主管部门的指导下，建设国家关键信息基础设施网络安全风险信息共享平台，将关键信息基础设施网络安全风险信息、消减方案、安全态势及时通报给相关部门、科研机构和受影响的运营单位，提升对关键信息基础设施网络安全突发事件的应急处置能力。
      .page-created_at 2014-09-08
      em.hidden-mobile 阅读全文