.panel-item.introduction-panel
  .panel-wrapper
    .panel-content.content-wrapper
      .grid
        .grid-1-2.grid-s-1-1.introduction-item
          h4 专本科学历教育
          .divider
          p 城中学院坚持开放教育，开放教学。学院实行经资格审核入学制度，凡符合入学资格条件的求学者，经资格审核后均可注册学校。开放灵活的学习模式，实行完全学分制，学籍八年有效。开放灵活的学习模式，实行完全学分制，学籍八年有效。
        .grid-1-2.grid-s-1-1.introduction-item
          h4 优秀的教师团队
          .divider
          p 城中学院坚持开放教育，开放教学。学院实行经资格审核入学制度，凡符合入学资格条件的求学者，经资格审核后均可注册学校。开放灵活的学习模式，实行完全学分制，学籍八年有效。开放灵活的学习模式，实行完全学分制，学籍八年有效。
      .btn-wrapper.hidden-mobile
        a.btn-primary(href='##') 在线报名
