.landing-description
  .description-wrapper
    .hidden-mobile
      h1 成都广播电视大学直属城中学院
      .divider
      p 成都广播电视大学是中央广播电视大学的省级电大，成都市人民政府主办。直属城中学院是成都电大在成都市中心区域设立的直属办学单位，具体承担学历教育和技能培训的综合办学实体单位。学院位于东城根上街55号，地理位置优越，交通便利。
      .btn-wrapper
        a.btn.btn-primary.rounded(href='##') 在线报名
    .hidden-pc.mobile-description
      .logo-icon
        img(src='logo.png', alt='LOGO')
      h3 成都广播电视大学直属城中学院
      h4 生命不息，奋斗不止
      .btn-wrapper
        a.btn.btn-primary.rounded(href='##') 在线报名
  .next-anchor
    a(href="#second_panel")
      i.fa.fa-angle-down
