.panel-item.photos-preview
  .panel-wrapper.content-wrapper
    h3 校园掠影
    .panel-content.imgs-wall
      .grid#imgs_wall
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/sheying0525.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/bizhi0525.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/mingxing0525.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/chongwu0525.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/dongman0515.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/touxiang0525.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/jianbihua0525.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/qiche0318.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/xingkong0525.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/duorou0525.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/sheying0527.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/bizhi0527.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/dongman0316.jpg' alt='imgs')
        .image-item
          img(src='http://img0.bdstatic.com/img/image/shouye/jianbihua0527.jpg' alt='imgs')
