.panel-item#second_panel
  .panel-wrapper.content-wrapper
    h3 学校简介
    .panel-content
      p
        em 城中学院坚持开放教育，开放教学。
        span 学院实行经资格审核入学制度，凡符合入学资格条件的求学者，经资格审核后均可注册学校。开放灵活的学习模式，实行完全学分制，学籍八年有效。实行滚动开课和滚动考试，学生可根据所选专业的情况自主选择课程、学习时间、学习进度等，修满规定的学分即可毕业。个性化的教学模式，逐步“学导结合”、“面授课程＋网上学习”、“系＋平台＋资源统”的教学模式。建立了远程教学平台，实行课程教学资源开放，学员可根据个人需要进行选学。
      p
        em 城中学院坚持“办学融入社会、专业融入行业、教学融入企业、服务融入学生”的办学理念。
        span 尽一切可能为学员提供更多更好的支持服务：教学辅导、网上答疑、QQ咨询、微信公众号、媒体教学资源、历年试卷下载和考试分析、网上进行视频点播、CAI课件、教师教学课件等资料。
      p
        em 城中学院坚持能力与学历并重，快乐学习的工作指导思想。
        span 在各个专业有选择地将核心课程进行扩展，为学员提供深入学习和实践地机会，让每一个专业的学员都能享有能力提高和业务增强的机会。
