.page-container
  .grid
    .page-main-content
      h3 加快建立关键信息基础设施产品与服务安全审查制度
      .page-created_at 2014-08-07
      .page-body
        p 建立关键信息基础设施产品与服务安全审查制度，对关键信息基础设施产品与服务进行分类审查、检测和管理，特别加强对产品安全性和可控性的审查。在关键信息基础设施采购过程中，推进供应链安全审查。
        img(src="http://img0.bdstatic.com/img/image/%E5%B7%B4%E8%A5%BF.jpg", alt="image")
        p 我国一直高度重视关键信息基础设施网络安全保障工作，国家对关键信息基础设施做出了一系列重要决策和部署，关键信息基础设施网络安全意识得到了大幅度的提升。但是做好关键信息基础设施的网络安全保障工作是一个长期的过程，建议首先从关键信息基础设施网络安全风险“可发现”入手，准确掌握我国关键信息基础设施网络安全态势信息，同时推进实现政府部门、科研机构、运营单位、厂商和安全企业等各方之间的网络安全信息共享，加强关键信息基础设施安全防护技术研究和应用，最后依托网络安全审查制度有效保障“互联网+”时代背景下关键信息基础设施的网络安全。
    .related-pages.hidden-mobile
      h3 相关文章
      a.clearfix(href="##")
        img.pull-left(src="http://img0.bdstatic.com/img/image/riben180180.jpg", alt="image")
        .relate-page-title 推进关键信息基础设施的在线安全监测
      a.clearfix(href="##")
        img.pull-left(src="http://img0.bdstatic.com/img/image/beihaidao180180.jpg", alt="image")
        .relate-page-title 建立关键信息基础设施网络安全风险信息共享机制
      a.clearfix(href="##")
        img.pull-left(src="http://img0.bdstatic.com/img/image/shouer180180.jpg", alt="image")
        .relate-page-title 加强关键信息基础设施安全防护技术研究
      a.clearfix(href="##")
        img.pull-left(src="http://img0.bdstatic.com/img/image/%E6%97%A5%E6%9C%AC%E5%A4%A7%E5%AD%A6.jpg", alt="image")
        .relate-page-title 加快建立关键信息基础设施产品与服务安全审查制度